@import 'vars';

//
// Domains search form
//

.gdrs-form {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: 25px;
}

input[type="text"].gdrs-form--input {
	display: inline-block;
	width: 80%;

	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background: @gdrs-input-bg--black;
	border: 1px solid @gdrs-input-border--black;
	color: @gdrs-input-color--black;
	border-radius: 0;
	box-sizing: border-box;
	cursor: auto;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: @gdrs-input-height;
	line-height: normal;
	max-width: 100%;
	margin: 0;
	padding: 10px;
	vertical-align: top;
	.placeholder(@gdrs-input-placeholder-color--black);

}

input[type="submit"].gdrs-form--submit {
	display: inline-block;
	width: 20%;
	text-align: center;

	-webkit-appearance: button;
	background: @gdrs-submit-bg--black;
	border: 0;
	border-radius: 0;
	color: @gdrs-submit-color--black;
	cursor: pointer;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	height: @gdrs-input-height;
	line-height: normal;
	margin: 0;
	max-width: 100%;
	padding: 13px 26px;
	text-shadow: none;
	text-transform: uppercase;
	vertical-align: top;
	box-sizing: border-box;

	&:hover {
		background: @gdrs-submit-hover-bg--black;
		color: @gdrs-submit-hover-color--black;
	}
}

//
// Menu
//

.gdrs-nav--list {
	display: block;
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	background: @gdrs-menu-bg--black;
}

.gdrs-nav--list__submenu {
	display: none;
	position: absolute;
//	left: 0;
	width: 200px;

	z-index: 10001;
	background: @gdrs-submenu-bg--black;
}

.gdrs-nav--item {
	display: inline-block;
	vertical-align: middle;

	&:hover, &:focus, &:active {
		.gdrs-nav--list__submenu {
			display: block;
		}

		> .gdrs-nav--link {
			background: @gdrs-menu-link-hover-bg--black;
			color: @gdrs-menu-link-hover-color--black;
		}
	}
}

.gdrs-nav--item__columns-1 {
	width: 100%;
}

.gdrs-nav--item__columns-2 {
	width: 50%;
}

.gdrs-nav--item__columns-3 {
	width: 33.33333333%;
}

.gdrs-nav--item__columns-4 {
	width: 25%;
}

.gdrs-nav--item__columns-5 {
	width: 20%;
}

.gdrs-nav--item__columns-6 {
	width: percentage(1/6);
}

.gdrs-nav--item__columns-7 {
	width: percentage(1/7);
}

.gdrs-nav--item__columns-8 {
	width: percentage(1/8);
}

.gdrs-nav--item__columns-9 {
	width: percentage(1/9);
}

.gdrs-nav--item__columns-10 {
	width: percentage(1/10);
}

.gdrs-nav--item__columns-11 {
	width: percentage(1/11);
}

.gdrs-nav--item__columns-12 {
	width: percentage(1/12);
}

// If your horizontal menu is bigger than 12 items, you should rearrange it!


.gdrs-nav--item__subitem {
	display: block;
	width: 100%;
}

.gdrs-nav--item__last {
	.gdrs-nav--list__submenu {
		right: 0;
	}
}

.gdrs-nav--link {
	font-family: Helvetica, "HelveticaNeue", "Helvetica Neue", Arial, Verdana, sans-serif;
	line-height: 1.2;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	color: @gdrs-menu-link-color--black;
}

.entry-content {
	.gdrs-nav--link {
		border: 0;
	}
}

.gdrs-nav--link__depth-0 {
	text-align: center;
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	width: 100%;
	font-size: 14px;
}

.gdrs-nav--link__subitem {
	padding: 5px 7px;
	font-size: 12px;
	display: block;
}

/* white theme */

.gdrs-theme-2 {
	input[type="text"].gdrs-form--input {
		background: @gdrs-input-bg--white;
		border-color: @gdrs-input-border--white;
		color: @gdrs-input-color--white;
		.placeholder(@gdrs-input-placeholder-color--white);
	}

	input[type="submit"].gdrs-form--submit {
		background: @gdrs-submit-bg--white;
		color: @gdrs-submit-color--white;

		&:hover {
			background: @gdrs-submit-hover-bg--white;
			color: @gdrs-submit-hover-color--white;
		}
	}

	.gdrs-nav--list {
		background: @gdrs-menu-bg--white;
	}

	.gdrs-nav--list__submenu {
		background: @gdrs-submenu-bg--white;
	}

	.gdrs-nav--item {
		&:hover, &:focus, &:active {
			> .gdrs-nav--link {
				background: @gdrs-menu-link-hover-bg--white;
				color: @gdrs-menu-link-hover-color--white;
			}
		}
	}


	.gdrs-nav--link {
		color: @gdrs-menu-link-color--white;
	}

}

/* white theme */

.gdrs-theme-3 {
	input[type="text"].gdrs-form--input {
		background: @gdrs-input-bg--red;
		border-color: @gdrs-input-border--red;
		color: @gdrs-input-color--red;
		.placeholder(@gdrs-input-placeholder-color--red);
	}

	input[type="submit"].gdrs-form--submit {
		background: @gdrs-submit-bg--red;
		color: @gdrs-submit-color--red;

		&:hover {
			background: @gdrs-submit-hover-bg--red;
			color: @gdrs-submit-hover-color--red;
		}
	}

	.gdrs-nav--list {
		background: @gdrs-menu-bg--red;
	}

	.gdrs-nav--list__submenu {
		background: @gdrs-submenu-bg--red;
	}

	.gdrs-nav--item {
		&:hover, &:focus, &:active {
			> .gdrs-nav--link {
				background: @gdrs-menu-link-hover-bg--red;
				color: @gdrs-menu-link-hover-color--red;
			}
		}
	}


	.gdrs-nav--link {
		color: @gdrs-menu-link-color--red;
	}

}