.gdrs-form {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
input[type="text"].gdrs-form--input {
  display: inline-block;
  width: 80%;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  -webkit-writing-mode: horizontal-tb;
  background: #333333;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(220, 220, 220, 0.7);
  border-radius: 0;
  box-sizing: border-box;
  cursor: auto;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  height: 48px;
  line-height: normal;
  max-width: 100%;
  margin: 0;
  padding: 10px;
  vertical-align: top;
}
input[type="text"].gdrs-form--input::-webkit-input-placeholder {
  color: rgba(200, 200, 200, 0.3);
}
input[type="text"].gdrs-form--input::-moz-placeholder {
  color: rgba(200, 200, 200, 0.3);
}
input[type="text"].gdrs-form--input:-moz-placeholder {
  color: rgba(200, 200, 200, 0.3);
}
input[type="text"].gdrs-form--input:-ms-input-placeholder {
  color: rgba(200, 200, 200, 0.3);
}
input[type="submit"].gdrs-form--submit {
  display: inline-block;
  width: 20%;
  text-align: center;
  -webkit-appearance: button;
  background: #000000;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  height: 48px;
  line-height: normal;
  margin: 0;
  max-width: 100%;
  padding: 13px 26px;
  text-shadow: none;
  text-transform: uppercase;
  vertical-align: top;
  box-sizing: border-box;
}
input[type="submit"].gdrs-form--submit:hover {
  background: #1f1f1f;
  color: #ffffff;
}
.gdrs-nav--list {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  background: #000000;
}
.gdrs-nav--list__submenu {
  display: none;
  position: absolute;
  width: 200px;
  z-index: 10001;
  background: #333333;
}
.gdrs-nav--item {
  display: inline-block;
  vertical-align: middle;
}
.gdrs-nav--item:hover .gdrs-nav--list__submenu,
.gdrs-nav--item:focus .gdrs-nav--list__submenu,
.gdrs-nav--item:active .gdrs-nav--list__submenu {
  display: block;
}
.gdrs-nav--item:hover > .gdrs-nav--link,
.gdrs-nav--item:focus > .gdrs-nav--link,
.gdrs-nav--item:active > .gdrs-nav--link {
  background: #444444;
  color: #efefef;
}
.gdrs-nav--item__columns-1 {
  width: 100%;
}
.gdrs-nav--item__columns-2 {
  width: 50%;
}
.gdrs-nav--item__columns-3 {
  width: 33.33333333%;
}
.gdrs-nav--item__columns-4 {
  width: 25%;
}
.gdrs-nav--item__columns-5 {
  width: 20%;
}
.gdrs-nav--item__columns-6 {
  width: 16.66666667%;
}
.gdrs-nav--item__columns-7 {
  width: 14.28571429%;
}
.gdrs-nav--item__columns-8 {
  width: 12.5%;
}
.gdrs-nav--item__columns-9 {
  width: 11.11111111%;
}
.gdrs-nav--item__columns-10 {
  width: 10%;
}
.gdrs-nav--item__columns-11 {
  width: 9.09090909%;
}
.gdrs-nav--item__columns-12 {
  width: 8.33333333%;
}
.gdrs-nav--item__subitem {
  display: block;
  width: 100%;
}
.gdrs-nav--item__last .gdrs-nav--list__submenu {
  right: 0;
}
.gdrs-nav--link {
  font-family: Helvetica, "HelveticaNeue", "Helvetica Neue", Arial, Verdana, sans-serif;
  line-height: 1.2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}
.entry-content .gdrs-nav--link {
  border: 0;
}
.gdrs-nav--link__depth-0 {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 10px 15px;
  width: 100%;
  font-size: 14px;
}
.gdrs-nav--link__subitem {
  padding: 5px 7px;
  font-size: 12px;
  display: block;
}
/* white theme */
.gdrs-theme-2 input[type="text"].gdrs-form--input {
  background: #ffffff;
  border-color: rgba(222, 222, 222, 0.1);
  color: #000000;
}
.gdrs-theme-2 input[type="text"].gdrs-form--input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.gdrs-theme-2 input[type="text"].gdrs-form--input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.gdrs-theme-2 input[type="text"].gdrs-form--input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.gdrs-theme-2 input[type="text"].gdrs-form--input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.gdrs-theme-2 input[type="submit"].gdrs-form--submit {
  background: #f0f0f0;
  color: #121212;
}
.gdrs-theme-2 input[type="submit"].gdrs-form--submit:hover {
  background: #d0d0d0;
  color: #000000;
}
.gdrs-theme-2 .gdrs-nav--list {
  background: #ffffff;
}
.gdrs-theme-2 .gdrs-nav--list__submenu {
  background: #f0f0f0;
}
.gdrs-theme-2 .gdrs-nav--item:hover > .gdrs-nav--link,
.gdrs-theme-2 .gdrs-nav--item:focus > .gdrs-nav--link,
.gdrs-theme-2 .gdrs-nav--item:active > .gdrs-nav--link {
  background: #fafafa;
  color: #333333;
}
.gdrs-theme-2 .gdrs-nav--link {
  color: #000000;
}
/* white theme */
.gdrs-theme-3 input[type="text"].gdrs-form--input {
  background: #c53d40;
  border-color: #b33638;
  color: #ffffff;
}
.gdrs-theme-3 input[type="text"].gdrs-form--input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.gdrs-theme-3 input[type="text"].gdrs-form--input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.gdrs-theme-3 input[type="text"].gdrs-form--input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.gdrs-theme-3 input[type="text"].gdrs-form--input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.gdrs-theme-3 input[type="submit"].gdrs-form--submit {
  background: #b33638;
  color: #ffffff;
}
.gdrs-theme-3 input[type="submit"].gdrs-form--submit:hover {
  background: #9f3032;
  color: #ffc8c7;
}
.gdrs-theme-3 .gdrs-nav--list {
  background: #c53d40;
}
.gdrs-theme-3 .gdrs-nav--list__submenu {
  background: #cb5153;
}
.gdrs-theme-3 .gdrs-nav--item:hover > .gdrs-nav--link,
.gdrs-theme-3 .gdrs-nav--item:focus > .gdrs-nav--link,
.gdrs-theme-3 .gdrs-nav--item:active > .gdrs-nav--link {
  background: #a93335;
  color: #ffffff;
}
.gdrs-theme-3 .gdrs-nav--link {
  color: #ffffff;
}
