@gdrs-input-height: 48px;

// ***** Theme: black; *****
// *** Search form ***
@gdrs-input-bg--black: #333;
@gdrs-input-border--black: rgba(0, 0, 0, 0.1);
@gdrs-input-color--black: rgba(220, 220, 220, 0.7);
@gdrs-input-placeholder-color--black: rgba(200, 200, 200, 0.3);

@gdrs-submit-bg--black: #000;
@gdrs-submit-color--black: #fff;

@gdrs-submit-hover-bg--black: #1f1f1f;
@gdrs-submit-hover-color--black: #fff;

// *** Reseller menu ***
@gdrs-menu-bg--black: #000;
@gdrs-menu-link-color--black: #fff;
@gdrs-menu-link-hover-bg--black: #444;
@gdrs-menu-link-hover-color--black: #efefef;

@gdrs-submenu-bg--black: #333;


// ***** Theme: white; *****
// *** Search form ***
@gdrs-input-bg--white: #fff;
@gdrs-input-border--white: rgba(222, 222, 222, 0.1);
@gdrs-input-color--white: #000;
@gdrs-input-placeholder-color--white: fade(#000, 20);

@gdrs-submit-bg--white: #f0f0f0;
@gdrs-submit-color--white: #121212;

@gdrs-submit-hover-bg--white: #d0d0d0;
@gdrs-submit-hover-color--white: #000;

// *** Reseller menu ***
@gdrs-menu-bg--white: #fff;
@gdrs-menu-link-color--white: #000;
@gdrs-menu-link-hover-bg--white: #fafafa;
@gdrs-menu-link-hover-color--white: #333;

@gdrs-submenu-bg--white: #f0f0f0;


// ***** Theme: red; *****
// *** Search form ***
@gdrs-input-bg--red: #c53d40;
@gdrs-input-border--red: darken(@gdrs-input-bg--red, 5%);
@gdrs-input-color--red: #fff;
@gdrs-input-placeholder-color--red: fade(#fff, 40);

@gdrs-submit-bg--red: darken(@gdrs-input-bg--red, 5%);
@gdrs-submit-color--red: #fff;

@gdrs-submit-hover-bg--red: darken(@gdrs-submit-bg--red, 5%);
@gdrs-submit-hover-color--red: #ffc8c7;

// *** Reseller menu ***
@gdrs-menu-bg--red: #c53d40;
@gdrs-menu-link-color--red: #fff;
@gdrs-menu-link-hover-bg--red: darken(@gdrs-menu-bg--red, 7.5%);
@gdrs-menu-link-hover-color--red: #fff;

@gdrs-submenu-bg--red: lighten(@gdrs-menu-bg--red, 5%);



// ******* mixins *******

.placeholder(@color) {
	&::-webkit-input-placeholder {color:@color;}
	&::-moz-placeholder          {color:@color;} // Firefox 19+
	&:-moz-placeholder           {color:@color;} // Firefox 18-
	&:-ms-input-placeholder      {color:@color;}
}