.gdrs-wrapper {
  border: 1px solid #424242;
  border-color: #646464 #000 #424242 #676767;
  box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.3);
}
.gdrs-header {
  min-height: 138px;
  padding: 8px 25px;
  background: #ffffff url(../images/header-bg.png) repeat-x bottom;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gdrs-header--logo {
  display: inline-block;
  vertical-align: middle;
}
h2.gdrs-header--title {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}
.gdrs-header--godaddy {
  float: right;
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
.gdrs-header--godaddy-logo {
  display: block;
  max-height: 60px;
  width: auto;
  margin: 10px auto;
}
.gdrs-content {
  padding: 20px;
}
.gdrs-theme-preview {
  margin: 5px 0 10px;
}
.gdrs-theme-preview--img {
  border: 1px solid #000;
  display: inline-block;
  vertical-align: top;
}
.collapse-box {
  margin-bottom: 10px;
}
.collapse-box--header {
  line-height: 48px;
  background: #fff;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 11;
}
.collapse-box--header:hover {
  background: #fdfdfd;
}
.collapse-box--header:hover .collapse-box--icon {
  background: #2f85a7;
}
.collapse-box--icon {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  background: #328fb3;
}
.collapse-box--icon span {
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 40px;
  color: #fff;
  line-height: 48px;
}
.collapse-box--content {
  display: none;
  padding: 10px;
  background: #fff;
  position: relative;
  z-index: 10;
}
.collapse-box.active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.collapse-box.active .collapse-box--content {
  display: block;
}
.gdrs-tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.gdrs-tabs--header {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.gdrs-tabs--tab {
  display: inline-block;
  line-height: 48px;
  padding: 5px 15px;
  background: #fafafa;
  font-size: 16px;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 0;
  position: relative;
  z-index: 10;
}
.gdrs-tabs--tab:hover {
  background: #fdfdfd;
  box-shadow: 1px -1px 3px -1px rgba(0, 0, 0, 0.15);
}
.gdrs-tabs--tab.active {
  cursor: default;
  background: #fff;
  z-index: 12;
}
.gdrs-tabs--tab.active:hover {
  background: #fff;
  box-shadow: none;
}
.gdrs-tabs--content {
  background: #fff;
  padding: 10px;
  box-shadow: 0 -10px 30px -20px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 11;
}
.gdrs-tabs--tab-content {
  display: none;
}
.gdrs-tabs--tab-content.active {
  display: block;
}
.gdrs-getpro {
  margin-bottom: 15px;
}
